{% extends 'base.html' %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/css/config.css">
{% endblock %}
{% block content  %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <a href="http://cyberswitching.com"><img src="/media/images/cs.jpg" class="masthead-brand" hieght="75" width="300"/></a>

          <ul class="nav masthead-nav">
            <li class="active">
              <a href="#">Main</a>
            </li>

            <li>
              <a href="/categorys/">Categorys</a>
            </li>

            <li>
              <a href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">What are you interested in?</h1>

        <p class="lead">I'm not sure what I want and I'd like to</p>

        <p class="lead"><a class="btn btn-lg btn-info" href="#">Customize a Solution</a></p>
        <p class="lead">I'm interested in</p>

        <p class="lead"><a class="btn btn-lg btn-info" href="/products/">Base Models</a></p>
        <p class="lead">I'd like Sales to</p>

        <p class="lead"><a class="btn btn-lg btn-info" href="#">Contact Me</a></p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <!-- Validation -->

          <p>©  2014 <a href="http://cyberswitching.com/">Cyber Switching</a></p>
                    <p><small>Quadrunner &  Django</small><sup>1.7</sup> Inside</a></p>
	   </div>
      </div>
    </div>
</div>
</div>


{% endblock  %}
